# 忽略 Maven 和 Gradle 编译生成的文件夹
target/
build/

# 忽略IDE配置文件
.idea/
*.iml
*.classpath
*.project
*.settings/

# 忽略日志文件
*.log

# 忽略OS生成的系统文件
.DS_Store
Thumbs.db

# 忽略特定环境变量或配置文件（如敏感信息）
application.properties
application.yml
.env